*.ipynb
src/python/sandbox/
*~
.DS_Store
*.egg-info
__pycache__
.idea
.vscode
.cache
.vagrant
.env
*.tar
src/python/OBis/build/
src/python/OBis/dist/
src/python/PyBis/build/
src/python/PyBis/dist/
/.idea/
*.iml
*.eml