        .matrix{
      font-family: Helvetica, Verdana, sans-serif;
      margin: 0px; padding: 0px;
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      color: rgba(0, 255, 0, .7);
      text-shadow: rgba(255, 255, 255, .8) 0px 0px 4px;
      position: absolute;
      z-index: -1;	
      }
      @-webkit-keyframes fade {
      0%   { opacity: 1; }
      100% { opacity: 0; }
      }
      @-moz-keyframes fade {
      0%   { opacity: 1; }
      100% { opacity: 0; }
      }
      
      @-webkit-keyframes fall{
      from {top: -300%;}
      to    {top: 100%;}
      }
      @-moz-keyframes fall{
      from {top: -300%;}
      to    {top: 100%;}
      }
      
      .matrix div{
      position: absolute;	
      top: -1.2em;
      /* arrearance */
      -webkit-transform-origin: 0%;
      -webkit-transform: rotate(90deg); 
      
      -moz-transform-origin: 0%;
      -moz-transform: rotate(90deg); 

      transform-origin: 0%;
      transform: rotate(90deg); 
      
      /* animation */
      -webkit-animation-name: fall, fade;			
      -webkit-animation-iteration-count: infinite; /* use 0 to infinite */
      -webkit-animation-direction: normal; /* default is normal. use 'alternate' to reverse direction */
      -webkit-animation-timing-function: ease-out;

      -moz-animation-name: fall, fade;			
      -moz-animation-iteration-count: infinite; /* use 0 to infinite */
      -moz-animation-direction: normal; /* default is normal. use 'alternate' to reverse direction */
      -moz-animation-timing-function: ease-out;
      }
      .matrix span{
      color: rgb(0, 255, 0);
      text-shadow: rgb(255, 255, 255) 0px 0px 5px;
      }
      .f1{
      font-size: 1.2em;
      }
      .f2{
      font-size: .9em;
      }
      .f3{
      font-size: .5em;
      }
      .c1{
      color: rgba(0, 255, 0, .5);
      }
      .d1{
      -webkit-animation-duration: 4s;
      -moz-animation-duration: 4s;
      }
      .d2{
      -webkit-animation-duration: 6s;
      -moz-animation-duration: 6s;
      }
      .d3{
      -webkit-animation-duration: 8s;
      -moz-animation-duration: 8s;
      }
      .d4{
      -webkit-animation-duration: 10s;
      -moz-animation-duration: 10s;
      }
      .de{	
      -webkit-animation-delay: 3s;
      -moz-animation-delay: 3s;
      }
