body { font: 14px "Trebuchet MS", sans-serif; }

h1 { font: 16px; }
h3 { font: 12px; }

div#vis { 
	padding-top: 10px;
	font: 12px "Verdana", sans-serif; }	
}
div#vis div { padding-top: 2px;}



/* Table */


.bacteria-table-data-cell {
	overflow: hidden;
	
}


#bacteria-table tr:nth-child(odd) td{
  background-color:#DC7E9E;
}


#bacteria-table tr:nth-child(even) td{
  background-color:#ECEFEF;
}



#bacteria-table td{

padding:5px;
}

#bacteria-table tr.bacteria-table-header {
  font-size:18px;
  font-weight: bold;
  color:#fff;
  background-color:#6E3F4F;	
  
}




