button {
  font: 14px "Trebuchet MS";
  background-color: 	#0000FF ;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.25), rgba(255,255,255,.11));
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,.25)),color-stop(1, rgba(255,255,255,.11)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,.11));
  color: #fff;
  text-rendering: optimizeLegibility;
  text-shadow: 0 -1px 1px #222;
  padding: 3px 5px 3px 5px;
  border: 40;
  border-radius: 5px;
  border-bottom: 1px solid #222;
  margin: 0;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
}

button.first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button.last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button.active {
  background-color: rgb(65,102,133);
}

button:hover {
  background-color: steelblue;
}

input {
  font: 14px "Trebuchet MS";
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.25), rgba(255,255,255,.11));
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,.25)),color-stop(1, rgba(255,255,255,.11)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.1));
  color: #000;
  text-rendering: optimizeLegibility;
  padding: 3px 5px 3px 5px;
  border: 0;
  border-radius: 0;
  margin: 0;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
}


#chembio_browser a:link
{
display:block;
font-weight:bold;
color:#101010 ;
background-color:#FAFAD2;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}

#chembio_browser a:visited
{
background-color:#FAFAD2;
color:#101010;
}

#chembio_browser a:hover
{
background-color:#C8C8A8;
color:#FFFFFF;
}


#chembio_browser a:active
{
background-color:#C8C8A8;
color:#FFFFFF;
}


#oligo_browser a:link
{
display:block;
font-weight:bold;
color:#101010;
background-color:#C2A366;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}

#oligo_browser a:visited
{
background-color:#C2A366;
color:#101010;
}

#oligo_browser a:hover
{
background-color:#A37519;
color:#FFFFFF;
}

#enzyme_browser a:link
{
display:block;
font-weight:bold;
color:#101010;
background-color:#E6CC80;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#enzyme_browser a:visited
{
background-color:#E6CC80;
color:#101010;
}


#enzyme_browser a:hover
{
background-color:#D1A319;
color:#FFFFFF;
}




#bacteria_browser a:link
{
display:block;
font-weight:bold;
color:#101010;
background-color:#DC7E9E;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#bacteria_browser a:visited
{
background-color:#DC7E9E;
color:#101010;
}


#bacteria_browser a:hover
{
background-color:#6E3F4F;
color:#FFFFFF;
}

#plasmid_browser a:link
{
display:block;
font-weight:bold;
color:#101010;
background-color:#C28566;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}


#plasmid_browser a:visited
{
background-color:#C28566;
color:#101010;
}


#plasmid_browser a:hover
{
background-color:#A34719;
color:#FFFFFF;
}


#prAntibody_browser a:link
{
display:block;
font-weight:bold;
color:#101010;
background-color:#C4D2A7;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}

#prAntibody_browser a:visited
{
background-color:#C4D2A7;
color:#101010;
}


#prAntibody_browser a:hover
{
background-color:#97B065;
color:#FFFFFF;
}

#secAntibody_browser a:link
{
display:block;
font-weight:bold;
color:#101010;
background-color:#9AC39A;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}

#secAntibody_browser a:visited
{
background-color:#9AC39A;
color:#101010;
}


#secAntibody_browser a:hover
{
background-color:#729672;
color:#FFFFFF;
}

#equipment_browser a:link
{
display:block;
font-weight:bold;
color:#101010;
background-color:#ECDFEC;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}

#equipment_browser a:visited
{
background-color:#ECDFEC;
color:#101010;
}


#equipment_browser a:hover
{
background-color:#C2ACC2;
color:#FFFFFF;
}

#title{
  font: 25px "Trebuchet MS";
  color: #0000cc;
  font-weight:bold;
  text-align:center;
  
}

#filter-button a:link
{
display:block;
font-weight:bold;
color:#FFFFFF;
background-color:#0000FF;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#filter-button a:visited
{
background-color:#0000FF;
color:#FFFFFF;
}

#filter-button a:hover
{
background-color:steelblue;
color:#FFFFFF;
}
