body { font: 14px "Trebuchet MS", sans-serif; }

h1 { font: 16px; }
h3 { font: 12px; }

div#vis_enzyme { 
	padding-top: 10px;
	font: 12px "Verdana", sans-serif; }	
}
div#vis_enzyme div { padding-top: 2px;}



enzyme.table { counter-reset: line-number; }

.enzyme-table-data-cell {
	overflow: hidden;
		
}

#enzyme-table tr:nth-of-type(odd) {
   background-color:#E6CC80;
}

#enzyme-table tr:nth-of-type(even) {
   background-color:#ECEFEF;
}




#enzyme-table tr.enzyme-table-data td {
  padding: 5px;
}

#enzyme-table tr.enzyme-table-data:hover td {
  padding: 5px 2px;
}

#enzyme-table td{

padding:5px;
}

#enzyme-table tr.enzyme-table-header {
 
  font-size:18px;
  font-weight: bold;
  color:#fff;
  background-color:#D1A319;
}

#enzyme-table th {
 
  padding-left:5px;
  padding-right:5px;
}

