body { font: 14px "Trebuchet MS", sans-serif; }

h1 { font: 16px; }
h3 { font: 12px; }

div#vis { 
	padding-top: 10px;
	font: 12px "Verdana", sans-serif; }	
}
div#vis div { padding-top: 2px;}


/* Table */


.equipment-table-data-cell {
	overflow: hidden;
	
}


#equipment-table tr:nth-child(odd) td{
  background-color:#ECDFEC;
}


#equipment-table tr:nth-child(even) td{
  background-color:#ECEFEF;
}



#equipment-table td{

padding:5px;
}

#equipment-table tr.equipment-table-header {
  font-size:18px;
  font-weight: bold;
  color:#fff;
  background-color:#C2ACC2;	
  
}




