body { font: 14px "Trebuchet MS", sans-serif; }

h1 { font: 16px; }
h3 { font: 12px; }

div#vis { 
	padding-top: 10px;
	font: 12px "Verdana", sans-serif; }	
}
div#vis div { padding-top: 2px;}


/* Table */


.secAntibody-table-data-cell {
	overflow: hidden;
	
}


#secAntibody-table tr:nth-child(odd) td{
  background-color:#9AC39A;
}


#secAntibody-table tr:nth-child(even) td{
  background-color:#ECEFEF;
}



#secAntibody-table td{

padding:5px;
}

#secAntibody-table tr.secAntibody-table-header {
  font-size:18px;
  font-weight: bold;
  color:#fff;
  background-color:#729672;	
  
}




