<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springsource.ide.eclipse.gradle.launch">
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<stringAttribute key="org.springsource.ide.eclipse.gradle.launch.PGM_ARGS" value="-Dopenbis.development-build=true --info"/>
<stringAttribute key="org.springsource.ide.eclipse.gradle.launch.PROJECT" value="openbis"/>
<listAttribute key="org.springsource.ide.eclipse.gradle.launch.TASKLIST">
<listEntry value=":openbis:checkDependencies"/>
</listAttribute>
</launchConfiguration>
