<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/openbis"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;openbis&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/google/gwt-dev/2.4/gwt-dev-2.4.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/authentication/targets&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/common/targets&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/dbmigration/targets&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/openbis/targets&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/openbis_api/targets&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/openbis-common/targets&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/openbis/source/java&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/authentication/source/java&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/common/source/java&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/dbmigration/source/java&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/openbis_api/source/java&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/openbis-common/source/java&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;3&quot; projectName=&quot;openbis&quot; type=&quot;1&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;openbis&quot; path=&quot;3&quot; type=&quot;4&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/sencha/gxt/2.2.5/gxt-2.2.5.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/lucene/lucene-highlighter/3.1.0/lucene-highlighter-3.1.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/hibernate/hibernate-search/3.4.2.Final/hibernate-search-3.4.2.Final.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/hibernate/hibernate-search/3.4.2.Final/hibernate-search-3.4.2.Final-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/eclipse/jetty-deploy/8.1.8.v20121106/jetty-deploy-8.1.8.v20121106.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/google/gwt-debug-panel/1.0/gwt-debug-panel-1.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/google/gwt-user/2.4/gwt-user-2.4.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/reveregroup/gwt-image-loader/1.1.4/gwt-image-loader-1.1.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/reveregroup/gwt-image-loader/1.1.4/gwt-image-loader-1.1.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/springframework/spring-orm/2.5.6.SEC01/spring-orm-2.5.6.SEC01.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/springframework/spring-orm/2.5.6.SEC01/spring-orm-2.5.6.SEC01-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/cisd/cisd-hotdeploy/13.01.0/cisd-hotdeploy-13.01.0.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/cisd/cisd-hotdeploy/13.01.0/cisd-hotdeploy-13.01.0-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/poi-ooxml/3.8-20120326/poi-ooxml-3.8-20120326.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/hibernate/hibernate-validator/4.2.0.Final/hibernate-validator-4.2.0.Final.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/hibernate/hibernate-validator/4.2.0.Final/hibernate-validator-4.2.0.Final-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/unimi/fastutil/5.1.5/fastutil-5.1.5.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/unimi/fastutil/5.1.5/fastutil-5.1.5-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/commons-collections/4.01/commons-collections-4.01.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/apache/commons-collections/4.01/commons-collections-4.01-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/springframework/spring-test/2.5.6.SEC01/spring-test-2.5.6.SEC01.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/springframework/spring-test/2.5.6.SEC01/spring-test-2.5.6.SEC01-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/commons-fileupload/1.2.1/commons-fileupload-1.2.1.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/apache/commons-fileupload/1.2.1/commons-fileupload-1.2.1-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/lucene/lucene-core/3.1.0/lucene-core-3.1.0.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/lucene/lucene-core/3.1.0/lucene-core-3.1.0-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/lucene/lucene-memory/3.1.0/lucene-memory-3.1.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/lucene/lucene-queries/3.1.0/lucene-queries-3.1.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/antlr/antlr/2.7.6/antlr-2.7.6.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/commons-lang/2.4/commons-lang-2.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/apache/commons-lang/2.4/commons-lang-2.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/dom4j/dom4j/1.6.1/dom4j-1.6.1.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/dom4j/dom4j/1.6.1/dom4j-1.6.1-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/slf4j/slf4j-api/1.6.2/slf4j-api-1.6.2.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/slf4j/slf4j-api/1.6.2/slf4j-api-1.6.2-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/hibernate/hibernate-commons-annotations/3.2.0.Final/hibernate-commons-annotations-3.2.0.Final.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/hibernate/hibernate-jpa-2.0-api/1.0.1.Final/hibernate-jpa-2.0-api-1.0.1.Final.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/javax/jta/1.1/jta-1.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/hibernate/hibernate-core/3.6.10.Final-CISD/hibernate-core-3.6.10.Final-CISD.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/hibernate/hibernate-core/3.6.10.Final-CISD/hibernate-core-3.6.10.Final-CISD-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/eclipse/jetty-xml/8.1.8.v20121106/jetty-xml-8.1.8.v20121106.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/eclipse/jetty-continuation/8.1.8.v20121106/jetty-continuation-8.1.8.v20121106.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/eclipse/jetty-util/8.1.8.v20121106/jetty-util-8.1.8.v20121106.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/eclipse/jetty-io/8.1.8.v20121106/jetty-io-8.1.8.v20121106.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/eclipse/jetty-http/8.1.8.v20121106/jetty-http-8.1.8.v20121106.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/eclipse/jetty-server/8.1.8.v20121106/jetty-server-8.1.8.v20121106.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/eclipse/jetty-security/8.1.8.v20121106/jetty-security-8.1.8.v20121106.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/eclipse/jetty-servlet/8.1.8.v20121106/jetty-servlet-8.1.8.v20121106.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/eclipse/jetty-webapp/8.1.8.v20121106/jetty-webapp-8.1.8.v20121106.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/commons-codec/1.3/commons-codec-1.3.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/apache/commons-codec/1.3/commons-codec-1.3-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/poi/3.8-20120326/poi-3.8-20120326.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/apache/poi/3.8-20120326/poi-3.8-20120326-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/stax/stax-api/1.0.1/stax-api-1.0.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/xmlbeans/2.3.0/xmlbeans-2.3.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/poi-ooxml-schemas/3.8-20120326/poi-ooxml-schemas-3.8-20120326.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/javax/validation-api/1.0.0.GA/validation-api-1.0.0.GA.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/commons-logging/1.1.1/commons-logging-1.1.1.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/apache/commons-logging/1.1.1/commons-logging-1.1.1-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/junit/junit/4.10/junit-4.10.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;3&quot; projectName=&quot;common&quot; type=&quot;1&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;3&quot; projectName=&quot;dbmigration&quot; type=&quot;1&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;3&quot; projectName=&quot;openbis_api&quot; type=&quot;1&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;3&quot; projectName=&quot;openbis-common&quot; type=&quot;1&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;3&quot; projectName=&quot;authentication&quot; type=&quot;1&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/springframework/spring-webmvc/2.5.6.SEC01-CISD/spring-webmvc-2.5.6.SEC01-CISD.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/springframework/spring-webmvc/2.5.6.SEC01-CISD/spring-webmvc-2.5.6.SEC01-CISD-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/springframework/spring-aop/2.5.6.SEC01/spring-aop-2.5.6.SEC01.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/springframework/spring-aop/2.5.6.SEC01/spring-aop-2.5.6.SEC01-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/javax/servlet-api/3.0/servlet-api-3.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/cisd/cisd-args4j/9.11.2/cisd-args4j-9.11.2.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/cisd/cisd-args4j/9.11.2/cisd-args4j-9.11.2-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/python/jython/2.5.2/jython-2.5.2.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/python/jython/2.5.2/jython-2.5.2-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/log4j/1.2.15/log4j-1.2.15.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/apache/log4j/1.2.15/log4j-1.2.15-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/javax/activation/1.1.1/activation-1.1.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/javax/mail/1.4.3/mail-1.4.3.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/commons-httpclient/3.1/commons-httpclient-3.1.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/apache/commons-httpclient/3.1/commons-httpclient-3.1-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/twmacinta/fast-md5/2.6.1/fast-md5-2.6.1.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/twmacinta/fast-md5/2.6.1/fast-md5-2.6.1-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/google/gwt-servlet/2.4/gwt-servlet-2.4.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/jmock/jmock/2.5.1/jmock-2.5.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/testng/testng/6.8-CISD/testng-6.8-CISD.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/testng/testng/6.8-CISD/testng-6.8-CISD-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/marathon/marathon-spring-util/1.2.3/marathon-spring-util-1.2.3.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/marathon/marathon-spring-util/1.2.3/marathon-spring-util-1.2.3-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/lemnik/eodsql/2.2-CISD/eodsql-2.2-CISD.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/lemnik/eodsql/2.2-CISD/eodsql-2.2-CISD-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/cisd/cisd-base/r27861/cisd-base-r27861.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/cisd/cisd-base/r27861/cisd-base-r27861-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/rinn/restrictions/1.0.1/restrictionchecker-1.0.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/rinn/restrictions/1.0.1/restrictions-1.0.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/commons-compress/1.8/commons-compress-1.8.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/fjelmer/classycle/1.4/classycle-1.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/fjelmer/classycle/1.4/classycle-1.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/hamcrest/hamcrest-integration/1.1/hamcrest-integration-1.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/hamcrest/hamcrest-library/1.1/hamcrest-library-1.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/springframework/spring-core/2.5.6.SEC01/spring-core-2.5.6.SEC01.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/springframework/spring-core/2.5.6.SEC01/spring-core-2.5.6.SEC01-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/springframework/spring-beans/2.5.6.SEC01/spring-beans-2.5.6.SEC01.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/springframework/spring-beans/2.5.6.SEC01/spring-beans-2.5.6.SEC01-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/aopalliance/aopalliance/1.0/aopalliance-1.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/springframework/spring-context/2.5.6.SEC01/spring-context-2.5.6.SEC01.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/springframework/spring-context/2.5.6.SEC01/spring-context-2.5.6.SEC01-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/springframework/spring-web/2.5.6.SEC01/spring-web-2.5.6.SEC01.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/springframework/spring-web/2.5.6.SEC01/spring-web-2.5.6.SEC01-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/hamcrest/hamcrest-core/1.1/hamcrest-core-1.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/commons-io/1.4/commons-io-1.4.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/apache/commons-io/1.4/commons-io-1.4-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/bcel/20060611/bcel-20060611.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/springframework/spring-jdbc/2.5.6.SEC01/spring-jdbc-2.5.6.SEC01.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/springframework/spring-jdbc/2.5.6.SEC01/spring-jdbc-2.5.6.SEC01-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/commons-dbcp/1.3-CISD/commons-dbcp-1.3-CISD.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/apache/commons-dbcp/1.3-CISD/commons-dbcp-1.3-CISD-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/h2database/h2/1.1.115/h2-1.1.115.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/h2database/h2/1.1.115/h2-1.1.115-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/postgresql/postgresql/9.3-1100.jdbc4/postgresql-9.3-1100.jdbc4.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/startnet/apgdiff/2.3/apgdiff-2.3.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/startnet/apgdiff/2.3/apgdiff-2.3-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/springframework/spring-tx/2.5.6.SEC01/spring-tx-2.5.6.SEC01.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/springframework/spring-tx/2.5.6.SEC01/spring-tx-2.5.6.SEC01-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/commons-pool/1.5.6/commons-pool-1.5.6.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/apache/commons-pool/1.5.6/commons-pool-1.5.6-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/fasterxml/jackson-core/2.0.2/jackson-core-2.0.2.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/fasterxml/jackson-core/2.0.2/jackson-core-2.0.2-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/fasterxml/jackson-annotations/2.0.2/jackson-annotations-2.0.2.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/fasterxml/jackson-annotations/2.0.2/jackson-annotations-2.0.2-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/googlecode/jsonrpc4j/0.24-CISD/jsonrpc4j-0.24-CISD.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/googlecode/jsonrpc4j/0.24-CISD/jsonrpc4j-0.24-CISD-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/reflections/reflections/0.9.5/reflections-0.9.5.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/cisd/cisd-jhdf5/13.06.2/cisd-jhdf5-core-13.06.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/cisd/cisd-jhdf5/13.06.2/cisd-jhdf5-tools-13.06.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/cisd/cisd-jhdf5/13.06.2/hdf5-linux-intel-13.06.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/cisd/cisd-jhdf5/13.06.2/hdf5-macosx-intel-13.06.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/cisd/cisd-jhdf5/13.06.2/hdf5-windows-intel-13.06.2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/truezip/truezip/6.8.1/truezip-6.8.1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/fasterxml/jackson-databind/2.0.2/jackson-databind-2.0.2.jar&quot; path=&quot;3&quot; sourceAttachmentPath=&quot;/Users/anttil/Documents/workspace_openbis/ivy-repository/fasterxml/jackson-databind/2.0.2/jackson-databind-2.0.2-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/google/gson/1.4/gson-1.4.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/google/guava/r08/guava-r08.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/jboss/javassist/3.12.1.GA/javassist-3.12.1.GA.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/jboss/jboss-vfs/3.0.0.CR5/jboss-vfs-3.0.0.CR5.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/apache/xml-apis/1.0.b2/xml-apis-1.0.b2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.google.gwt.dev.DevMode"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-startupUrl ch.systemsx.cisd.openbis.OpenBIS/index.html ch.systemsx.cisd.openbis.OpenBIS -war targets/www -logLevel WARN"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="openbis"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dpython.path=../libraries/jython/jython-lib&#10;-Dlog4j.configuration=etc/log.xml&#13;&#10;-Djavax.net.ssl.trustStore=dist/server/openBIS.keystore&#10;-Dorg.mortbay.util.FileResource.checkAliases=false&#13;&#10;-Xmx2048M&#10;-XX:MaxPermSize=512m&#13;&#10;-ea"/>
</launchConfiguration>
