<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/openbis"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;openbis&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/ivy-repository/eclipse/jetty-runner/9.4.9.v20180320/jetty-runner-9.4.9.v20180320.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.jetty.runner.Runner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--classes ../common/targets/classes&#10;--classes ../authentication/targets/classes&#10;--classes ../dbmigration/targets/classes&#10;--classes ../openbis-common/targets/classes&#10;--classes ../openbis_api/targets/classes&#10;--classes targets/classes&#10;--lib targets/www/lib/&#10;--port 8888&#10;targets/www"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="openbis"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dpython.path=../libraries/jython/jython-lib&#10;-Dlog4j.configuration=etc/log.xml&#13;&#10;-Djavax.net.ssl.trustStore=dist/server/openBIS.keystore&#10;-Dorg.mortbay.util.FileResource.checkAliases=false&#13;&#10;-Xmx2048M&#10;-XX:MaxPermSize=512m&#13;&#10;-ea"/>
</launchConfiguration>
