.container {
	padding-left: 20px;
	width: 700px;
	float: left;
}

.fuelux .tree-label {
	padding-left: 5px;
}

.fuelux .tree-branch-header {
	white-space: nowrap;
}

.fuelux .has-error .tree {
	border-color: #a94442;
}

.fuelux .tree.tree-folder-select .tree-branch>.tree-branch-name.tree-selected
	{
	background-color: #4f4f4f;
	color: #fff;
}

.fuelux .tree.tree-folder-select .tree-branch.tree-selected>.tree-branch-header .tree-branch-name
	{
	background-color: #4f4f4f;
	color: #fff;
}

.fuelux .tree.tree-folder-select .tree-branch.tree-selected>.tree-branch-header .tree-branch-name:hover
	{
	background-color: #4f4f4f;
	color: #fff;
}

.fuelux .tree .tree-item.tree-selected .tree-item-name {
	background-color: #4f4f4f;
	color: #fff;
}

.fuelux .filter {
	margin-bottom: 7px;
}

.fuelux .pillbox {
	border: 0px;
	padding: 0px;
	margin-bottom: 5px;
	margin-left: -2px;
}

.fuelux .text-success a {
	color: #3c763d;
	cursor: pointer;
}