*~
*/.classpath
*/.project
*/.settings
*/targets
*/.gradle
datastore_server/source/core-plugins
openbis/source/core-plugins
*/bin/*
**/.DS_Store
*__pycache__/
*$py.class
**/.pydevproject
**/.shredder
ivy-repository
**/.idea
*.iml
*.eml