*~
*/.classpath
*/.project
*/.settings
*/targets
*/.gradle
datastore_server/source/core-plugins
openbis/source/core-plugins
openbis/sourceTest/hot-deployment
*/bin/*
**/.DS_Store
*$py.class
**/.pydevproject
**/.shredder
ivy-repository
**/.idea
*.iml
*.eml
.metadata
.recommenders