body { font: 14px "Trebuchet MS", sans-serif; }

h1 { font: 16px; }
h3 { font: 12px; }

div#vis { 
	padding-top: 10px;
	font: 12px "Verdana", sans-serif; }	
}
div#vis div { padding-top: 2px;}

/* Inspector */

div.inspector {
	font: 14px "Verdana", sans-serif;
	padding: 10px;
	border: 1px solid gray;
	margin: 10px 2px;
	font-weight: bold;
}

.property {
  font-size: 10px;
  font-weight: normal;
}

.properties {
 padding-top:10px;
 width:100%;
 
}


.properties td:nth-child(odd) {
  background-color:#CCFFFF;
  width: 30%;
}

.properties td:nth-child(even) {
  background-color:#F7F7F7;
  width: 70%;
}


.close {
	float: right;
}

.close:hover {
	opacity: 0.5;
	color: #AAA;
	cursor: pointer;
}

.downloads {
	color: black;
	background-color: #E3E3E3;
}

table.downloads {
  font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}

/*
.downloads caption {
	text-align: left;
}
*/

.downloads tr {
	padding: 0px;
}

.downloads td {
	border: 2px solid #FFFFFF;	
	padding: 2px;
}

.downloads td:hover {
	cursor: pointer;
	text-decoration: underline
}

input:focus{
background-color: white;
}

/* Table */


.oligo-table-data-cell {
	overflow: hidden;
}


#oligo-table tr:nth-child(odd) {
  background-color:#CCFFFF;
}

#oligo-table tr:nth-child(even) {
  background-color:#F7F7F7;
}



#oligo-table tr.oligo-table-data:hover {
  font-weight: bold;
  
}


#oligo-table td{

padding:5px;
}

#oligo-table tr.oligo-table-header {
  font-size:18px;
  font-weight: bold;
  color:#000000;
  background-color:#0099CC;	
}


