.console-login-main {
    width: 100%;
    font-size: 100%;
    margin: 50px;
}
        
.console-login-header {
    align: center;
    margin: 40px;
}
	
.console-login-welcome {
    font-size: 100%;
    vertical-align: middle;
    padding: 10px;
}

.console-title {
    font-size: 200%;
    vertical-align: middle;
    margin: 40px;
}

.console-main {
    width: 100%;
    background-color: #fff;
    padding: 10px;    	
}

.console-header-panel {
    width: 100%;
    padding: 3px; 
    margin-bottom: 5px;   	
}

.console-header-label {
    font-weight: bold;
    vertical-align: bottom;
}

.console-content {
    width: 100%;
}

.console-table-table {
    width: 100%;
    border: 1px solid gray;
    padding: 0px;
    border-collapse: collapse;
}

.console-table-header {
    border: 1px solid gray;
    font-weight: bold;
    background-color: #ccc;
}

.console-table-odd-row {
    background-color: #fff;
}

.console-table-even-row {
    background-color: #eee;
}

.console-table-button {
    font-size: 80%;
}
