body,div,td {
    font-family: verdana, tahoma, helvetica;
    font-size: 11px;
}

.console-main {
    width: 100%;
    background-color: #fff;
    padding: 10px;    	
}

.console-header-panel {
    width: 100%;
    padding: 3px; 
    margin-bottom: 5px;   	
}

.console-header-label {
    font-weight: bold;
    vertical-align: bottom;
    border: 1px solid black
}

.console-header-button {
    border: 1px solid black
    vertical-align: middle;
    margin: 1px;
    font-size: 80%;
}

.console-content {
    width: 100%;
}

.console-table-table {
    width: 100%;
    border: 1px solid gray;
    padding: 0px;
    border-collapse: collapse;
}

.console-table-header {
    border: 1px solid gray;
    font-weight: bold;
    background-color: #ccc;
}

.console-table-odd-row {
    background-color: #fff;
}

.console-table-even-row {
    background-color: #eee;
}

.console-table-button {
    font-size: 60%;
}
