
input {
border: 0px solid;
height: 25px;
border-color:#000000;
outline: none;
font: 18px "Trebuchet MS";
}

body { font: 14px "Trebuchet MS", sans-serif; }

h1 { 
font: 16px;
color:#999999;
 }
h3 { font: 12px; }

.greytext {font: 18px "Trebuchet MS";}
.greytext:link {color:#BDBDBD; text-decoration:none}
.greytext:visited {color:#BDBDBD; text-decoration:none}
.greytext:active {color:#BDBDBD; text-decoration:none}
.greytext:hover {color:#000000; text-decoration:none}
.greytext input {color:#999999; text-decoration:none}


.box {
background-color: white;
text-rendering: optimizeLegibility;
-webkit-border-radius: 6px;
height: 50px;
width: 480px;
margin-top: 30px;
padding: 8px 8px 8px 50px;
border: 3px solid #999999;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
border-radius: 6px 6px 6px 6px;
}

.loginname {
background-image: url(images/sprite.png);
background-repeat: no-repeat;
background-position: 5px 10px; 
}

.password {
background-image: url(images/sprite.png);
background-repeat: no-repeat;
background-position: 5px -30px; 
}

.loginbutton {
margin-top: 30px;
}

div
{
}

