<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd">

    <import resource="genericCommonContext.xml"/>
    
    <!-- 
        // Server
    -->

    <bean id="service" class="ch.systemsx.cisd.datamover.console.server.DatamoverConsoleService">
        <constructor-arg ref="${authentication-service}" />
        <constructor-arg ref="request-context-provider" />
        <constructor-arg ref="console-factory" />
        <constructor-arg ref="action-log" />
        <property name="sessionExpirationPeriodInMinutes" value="${session-timeout}" />
    </bean>
    
    <bean id="console-factory" 
                class="ch.systemsx.cisd.datamover.console.server.ScriptBasedDatamoverConsoleFactory">
    </bean>
    
    <bean id="action-log" class="ch.systemsx.cisd.datamover.console.server.ActionLog">
        <constructor-arg ref="request-context-provider" />
    </bean>

</beans>