body { font: 14px "Trebuchet MS", sans-serif; }

h1 { font: 16px; }
h2 {
  font-family: "Verdana", sans-serif;
  color: #222;
}
h3 { font: 12px; }

.strainsMainGroup h2 { font-size: 22px;}

.strains { padding-bottom: 10px; }

.strains table { 
	border-collapse: collapse;
}

.strains td {
	font-family: "Verdana", sans-serif;
	font-size: 12px;
	padding: 6px;
}

.strains td:hover {
	font-size: 14px;
	background-color: steelblue;
	font-weight: bold;
	color: white;
	padding: 2px;
	cursor: pointer;
}

.strains td.unknown:hover {
	cursor: auto;
}

.datasetsummarytable {
	font-family: "Verdana", sans-serif;
}

.datasetsummarytable tr {
	font-size: 12px;
}

.scale { font-size: 9px;}

.datasetsummarytable tr:hover {
	background-color: steelblue;
	color: white;
	cursor: pointer;
}

div.datasummaryview {
	overflow: auto;
}


.sequenced text {
	fill: black;
}

td.inspected {
	font-size: 14px;
	font-weight: bold;
	padding: 2px;
}

.datasummaryview tr.inspected {
	font-weight: bold;
	padding: 0px;
}

/* Inspector */

div.inspector {
	font: 14px "Verdana", sans-serif;
	padding: 10px;
	border: 1px solid gray;
	margin: 10px 2px;
	font-weight: bold;
}

.close {
	float: right;
}

.close:hover {
	opacity: 0.5;
	color: #AAA;
	cursor: pointer;
}

ul.dataSets {
	list-style-type: none;
	padding-left: 20px;
}

ul.dataSets li {
  font: 12px "Verdana", sans-serif;
  font-weight: bold;
  color: #222;
	
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-width:1px; 
  border-color:#222;	
}

/**
 * Downloads table
 */
.downloads {
	color: steelblue;
	background-color: #E3E3E3;
}

table.downloads {
  font-family: "Trebuchet MS", sans-serif;
	font-size: 18px;
	font-variant: small-caps;	
	table-layout: fixed;
	width: 100%;
}

.downloads td {
	width: 50%;
	text-align: left;
}

.downloads td:hover {
	cursor: pointer;
	font-weight: bold;
}

/**
 * properties table
 */
table.properties {
	margin: 5px;
}

table.properties td, th {
	padding: 5px;
}
	
.propkey {
	font-size: 10px;
	white-space: nowrap;
}

.propvalue {
	font-size: 10px;
	font-weight: normal;
}

#explanation {
	font-family: "Verdana", sans-serif;
	width: 350px;
}

#explanation p {
	font-size: 14px
}

#explanation-show {
	padding: 10px 0px;
}

#explanation-show-text:hover {
	cursor: pointer;
	font-weight: bold;
}

#button-group{
	margin-bottom: 5px;
}