<html>
<head>
  <style>
    /* filtered out in most e-mail clients */
    table.diff {font-family:Courier; border:medium;}
    .diff_header {background-color:#e0e0e0}
    td.diff_header {text-align:right;};
    .diff_next {background-color:#c0c0c0}
    .diff_add, .diff_chg, .diff_sub {display: block;}
    .diff_add {background-color:#aaffaa}
    .diff_chg {background-color:#ffff77}
    .diff_sub {background-color:#ffaaaa}
    td {width: 30em;}
    td.diff_header {width: auto;} 
    td.diff_next {width: auto;} 
  </style>
</head>
<body>
<h2>Change description</h2>
Following please find the output of <tt>svnlook info</tt> and <tt>svnlook changed</tt>
<pre>
$description
</pre>
$review
</body>
</html>
