body { font: 14px "Trebuchet MS", sans-serif; }

h1 { font: 16px; }
h3 { font: 12px; }

div#vis { 
	padding-top: 10px;
	font: 12px "Verdana", sans-serif; }	
}
div#vis div { padding-top: 2px;}

/* Inspector */

div.inspector {
	font: 14px "Verdana", sans-serif;
	padding: 10px;
	border: 1px solid gray;
	margin: 10px 2px;
	font-weight: bold;
}

.property {
  font-size: 10px;
  font-weight: normal;
}

.properties {
	width: 100%;	
}

.properties td:nth-child(odd) {
  background-color:#DC7E9E;
}

.properties td:nth-child(even) {
  background-color:#ECEFEF;
}


.close {
	float: right;
}

.close:hover {
	opacity: 0.5;
	color: #AAA;
	cursor: pointer;
}

.downloads {
	color: black;
	background-color: #E3E3E3;
}

table.downloads {
  font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}

/*
.downloads caption {
	text-align: left;
}
*/

.downloads tr {
	padding: 0px;
}

.downloads td {
	border: 2px solid #FFFFFF;	
	padding: 2px;
}

.downloads td:hover {
	cursor: pointer;
	text-decoration: underline
}

input:focus{
background-color: white;
}

/* Legend */

.legend .sequenced circle {
   font: 14px "Verdana", sans-serif;
   stroke-width: 1.5px;
   fill: white;
   stroke: DarkGreen;
}

.legend .notsequenced circle {
   font: 14px "Verdana", sans-serif;
   stroke-width: 1.5px;
   fill: white;
   stroke: DarkRed;
}
.oligo-table-data-cell {
	overflow: hidden;
}

#oligo-table tr:nth-child(odd) {
  background-color:#94B8B8;
}

#oligo-table tr:nth-child(even) {
  background-color:#ECEFEF;
  
}

#oligo-table tr.oligo-table-data:hover {
  font-size : 105%;
  font-weight: bold;
  
}


#oligo-table td{

padding:5px;
}

#oligo-table tr.oligo-table-header {
  font-size:18px;
  font-weight: bold;
  color:#fff;
  background-color:#426262;	
}


.chemical-table-data-cell {
	overflow: hidden;
}

#chemical-table tr:nth-child(odd) {
  background-color:#B2B2B2;
}

#chemical-table tr:nth-child(even) {
  background-color:#ECEFEF;
  
}

#chemical-table tr.chemical-table-data:hover {
  font-size : 105%;
  font-weight: bold;
  
}


#chemical-table td{

padding:5px;
}

#chemical-table tr.chemical-table-header {
  font-size:18px;
  font-weight: bold;
  color:#fff;
  background-color:#767676;	
}


.plasmid-table-data-cell {
	overflow: hidden;
}

#plasmid-table tr:nth-child(odd) {
  background-color:#DC7E9E;
}

#plasmid-table tr:nth-child(even) {
  background-color:#ECEFEF;
}

#plasmid-table tr.plasmid-table-data:hover {
  font-size : 105%;
  font-weight: bold;
  
}

#plasmid-table td{

padding:5px;
}

#plasmid-table tr.plasmid-table-header {
  font-size:18px;
  font-weight: bold;
  color:#fff;
  background-color:#6E3F4F;	
}




.yeast-table-data-cell {
	overflow: hidden;
}

#yeast-table tr:nth-child(odd) {
  background-color:#A6A64D;
}

#yeast-table tr:nth-child(even) {
  background-color:#ECEFEF;
  
}

#yeast-table tr.yeast-table-data:hover {
  font-size : 105%;
  font-weight: bold;
  
}

#yeast-table td{

padding:5px;
}

#yeast-table tr.yeast-table-header {
  font-size:18px;
  font-weight: bold;
  color:#fff;
  background-color:#5C5C1F;	
}

