body { font: 14px "Trebuchet MS", sans-serif; }

h1 { font: 16px; }
h3 { font: 12px; }

div#vis { 
	
	font: 12px "Verdana", sans-serif; }	
}
div#vis div { padding-top: 2px;}





/**#yeast-table{ position:absolute; left:200px; width: 100px; height: 100px; top: 100px; overflow: auto;}**/

yeast.table { counter-reset: line-number; }

.yeast-table-data-cell {
	overflow: hidden;
		
}

#yeast-table tr:nth-of-type(odd) {
   background-color:#A6A64D;
}

#yeast-table tr:nth-of-type(even) {
   background-color:#ECEFEF;
}


#yeast-table tr.yeast-table-data:hover {
  font-weight: bold;
}


#yeast-table tr.yeast-table-data td {
  padding: 5px;
}

#yeast-table tr.yeast-table-data:hover td {
  padding: 5px 2px;
}

#yeast-table td{

padding:5px;

}


#yeast-table th {
 
  padding-left:5px;
  padding-right:5px;
}



