.node circle {
	 fill: #fff;
	 stroke: #444444; 
	 stroke-width: 1.5px;
}

.link {
	 fill: none;
	 stroke: #ccc;
	 stroke-width: 1.5px;
	 z-index: -1;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1px;
}

.node {
	font: 12px "Verdana", sans-serif;
	z-index: 1;
	cursor: pointer;
	position: relative; 
	left: -15px;
}


.linked:hover {
  font-weight: bold;  
}
