<cruisecontrol>
  <property name="trunk" value="projects/cisd/trunk"/>
  <property name="project.trunk" value="${trunk}/${project.name}"/>
  <property name="openbis.nightly-build.dir" value="${trunk}/openbis"/>
  <property name="status.file" value="status.txt"/>
  <property name="quiet-period" value="120"/>
  
  <plugin name="project" buildafterfailed="false">
    <listeners>
      <currentbuildstatuslistener file="logs/${project.name}/${status.file}"/>
    </listeners>
    <bootstrappers>
      <svnbootstrapper localWorkingCopy="${project.trunk}"/>
    </bootstrappers>
    <modificationset>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
    <schedule interval="60">
      <ant buildfile="${project.trunk}/build/build.xml" target="ci" anthome="apache-ant"/>
    </schedule>
    <log>
      <merge dir="${project.trunk}/targets/test-output"/>
    </log>
    <publishers>
      <onsuccess>
        <artifactspublisher dest="artifacts/${project.name}" dir="${project.trunk}/targets/dist/"/>
      </onsuccess>
      <onfailure>
        <htmlemail buildresultsurl="http://cisd-ci:8090/buildresults/${project.name}" 
               returnaddress="cisd-group@systemsx.ch" mailhost="127.0.0.1"
               xsldir="webapps/cruisecontrol/xsl/"
               css="webapps/cruisecontrol/css/cruisecontrol.css">
          <map alias="brinn" address="bernd.rinn@bsse.ethz.ch"/>
          <map alias="felmer" address="franz-josef.elmer@bsse.ethz.ch"/>
          <map alias="tpylak" address="tomasz.pylak@bsse.ethz.ch"/>
          <map alias="izabel" address="izabela.adamczyk@bsse.ethz.ch" />
          <map alias="buczekp" address="piotr.buczek@bsse.ethz.ch" />
          <map alias="cramakri" address="chandrasekhar.ramakrishnan@bsse.ethz.ch" />
          <map alias="kohleman" address="manuel.kohler@bsse.ethz.ch" />
          <map alias="hclaus" address="claus.hultschig@bsse.ethz.ch" />
          <map alias="walshs" address="sean.walsh@bsse.ethz.ch" />

        </htmlemail>
      </onfailure>
    </publishers>
  </plugin>
  
  <!-- Projects -->

  <project name="openbis (nightly build)" requiremodification="false">
    <bootstrappers>
      <svnbootstrapper localWorkingCopy="${openbis.nightly-build.dir}"/>
    </bootstrappers>
    <modificationset>
      <svn localWorkingCopy="${openbis.nightly-build.dir}"/>
    </modificationset>
    <schedule interval="60">
      <ant target="nightly-build" time="0300" buildfile="${openbis.nightly-build.dir}/build/build.xml" anthome="apache-ant"/>
    </schedule>
    <log>
      <merge dir="${openbis.nightly-build.dir}/targets/test-output"/>
    </log>
    <publishers>
      <onsuccess>
        <artifactspublisher dest="artifacts/${project.name}" dir="${openbis.nightly-build.dir}/targets/dist/"/>
      </onsuccess>
      <onfailure>
        <htmlemail buildresultsurl="http://cisd-ci:8090/buildresults/lims" 
               returnaddress="cisd-group@systemsx.ch" mailhost="127.0.0.1"
               xsldir="webapps/cruisecontrol/xsl/"
               css="webapps/cruisecontrol/css/cruisecontrol.css">
          <map alias="felmer" address="franz-josef.elmer@bsse.ethz.ch"/>
          <map alias="brinn" address="bernd.rinn@bsse.ethz.ch"/>
          <map alias="tpylak" address="tomasz.pylak@bsse.ethz.ch"/>
          <map alias="izabel" address="izabela.adamczyk@bsse.ethz.ch" />
          <map alias="buczekp" address="piotr.buczek@bsse.ethz.ch" />
          <map alias="cramakri" address="chandrasekhar.ramakrishnan@bsse.ethz.ch" />
          <map alias="kohleman" address="manuel.kohler@bsse.ethz.ch" />
          <map alias="hclaus" address="claus.hultschig@bsse.ethz.ch" />
          <map alias="walshs" address="sean.walsh@bsse.ethz.ch" />
        </htmlemail>
      </onfailure>
    </publishers>
  </project>

  <project name="openbis (system tests)" requiremodification="false">
    <bootstrappers>
      <svnbootstrapper localWorkingCopy="${openbis.nightly-build.dir}"/>
    </bootstrappers>
    <modificationset>
      <svn localWorkingCopy="${openbis.nightly-build.dir}"/>
    </modificationset>
    <schedule interval="86400">
      <ant target="run-system-tests" buildfile="${openbis.nightly-build.dir}/build/build.xml" anthome="apache-ant"/>
    </schedule>
    <log>
      <merge dir="${openbis.nightly-build.dir}/targets/test-output"/>
    </log>
    <publishers>
      <onsuccess>
        <artifactspublisher dest="artifacts/${project.name}" dir="${openbis.nightly-build.dir}/targets/dist/"/>
      </onsuccess>
      <onfailure>
        <htmlemail buildresultsurl="http://cisd-ci:8090/buildresults/lims" 
               returnaddress="cisd-group@systemsx.ch" mailhost="127.0.0.1"
               xsldir="webapps/cruisecontrol/xsl/"
               css="webapps/cruisecontrol/css/cruisecontrol.css">
          <map alias="felmer" address="franz-josef.elmer@bsse.ethz.ch"/>
          <map alias="brinn" address="bernd.rinn@bsse.ethz.ch"/>
          <map alias="tpylak" address="tomasz.pylak@bsse.ethz.ch"/>
          <map alias="izabel" address="izabela.adamczyk@bsse.ethz.ch" />
          <map alias="buczekp" address="piotr.buczek@bsse.ethz.ch" />
          <map alias="cramakri" address="chandrasekhar.ramakrishnan@bsse.ethz.ch" />
          <map alias="kohleman" address="manuel.kohler@bsse.ethz.ch" />
          <map alias="hclaus" address="claus.hultschig@bsse.ethz.ch" />
          <map alias="walshs" address="sean.walsh@bsse.ethz.ch" />          
        </htmlemail>
      </onfailure>
    </publishers>
  </project>

  <project name="integration-tests" requiremodification="false">
    <modificationset quietperiod="${quiet-period}">
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
    <schedule interval="60">
      <ant target="nightly-build" time="0200" buildfile="${project.trunk}/build/build.xml" anthome="apache-ant"/>
    </schedule>
  </project>
  
  <project name="build_resources">
    <schedule>
      <ant target="_dummy" buildfile="${project.trunk}/ant/build-common.xml"/>
    </schedule>
  </project>
  
  <project name="libraries">
    <schedule>
      <ant target="_dummy" buildfile="${project.trunk}/build.xml"/>
    </schedule>
  </project>
  
  <project name="args4j">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>

  <project name="common">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <!--project name="jhdf5">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project-->
  
  <project name="bds">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <project name="authentication">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/args4j"/>
      <buildstatus logdir="logs/common"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <project name="dbmigration">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <project name="server-common">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <project name="openbis">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <buildstatus logdir="logs/authentication"/>
      <buildstatus logdir="logs/dbmigration"/>
      <buildstatus logdir="logs/server-common"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <project name="openbis_knime">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <project name="cifex">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <buildstatus logdir="logs/authentication"/>
      <buildstatus logdir="logs/dbmigration"/>
      <buildstatus logdir="logs/server-common"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <project name="datamover">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <!--project name="datamover_console">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <buildstatus logdir="logs/authentication"/>
      <buildstatus logdir="logs/server-common"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project-->
  
  <project name="datastore_server">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <buildstatus logdir="logs/bds"/>
      <buildstatus logdir="logs/openbis"/>
      <buildstatus logdir="logs/server-common"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <project name="rtd_yeastx">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <buildstatus logdir="logs/openbis"/>
      <buildstatus logdir="logs/datastore_server"/>
      <buildstatus logdir="logs/dbmigration"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <project name="rtd_phosphonetx">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <buildstatus logdir="logs/openbis"/>
      <buildstatus logdir="logs/datastore_server"/>
      <buildstatus logdir="logs/dbmigration"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>

  <project name="screening">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <buildstatus logdir="logs/openbis"/>
      <buildstatus logdir="logs/datastore_server"/>
      <buildstatus logdir="logs/dbmigration"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>

  
  <project name="deep_sequencing_unit">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <buildstatus logdir="logs/openbis"/>
      <buildstatus logdir="logs/datastore_server"/>
      <buildstatus logdir="logs/dbmigration"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <project name="eu_basysbio">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <buildstatus logdir="logs/openbis"/>
      <buildstatus logdir="logs/datastore_server"/>
      <buildstatus logdir="logs/dbmigration"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <project name="rtd_cina">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <buildstatus logdir="logs/openbis"/>
      <buildstatus logdir="logs/datastore_server"/>
      <buildstatus logdir="logs/dbmigration"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
  <project name="plasmid">
    <modificationset quietperiod="${quiet-period}">
      <buildstatus logdir="logs/build_resources"/>
      <buildstatus logdir="logs/libraries"/>
      <buildstatus logdir="logs/common"/>
      <buildstatus logdir="logs/openbis"/>
      <buildstatus logdir="logs/datastore_server"/>
      <buildstatus logdir="logs/dbmigration"/>
      <svn localWorkingCopy="${project.trunk}"/>
    </modificationset>
  </project>
  
</cruisecontrol>
