body {
	margin-top: 30px;
	overflow-y:scroll;
}

/* Loging */
.bodyLogin {
	background-image: url(../css/loginBackground.jpg);
	font-family: "Helvetica Neue",sans-serif;
}

.loginForm {
	width: 360px;
	height: 360px;
	padding: 30px;
	display: block;
	
	position: absolute;
	top: 50%;
	margin-top: -280px;/* half of #content height + padding*/
	left: 50%;
	margin-left: -210px;/* half of #content height + padding*/
	
	background-color: white;
	border-radius: 60px 60px 60px 60px;
	font-family: "Helvetica Neue",sans-serif;
	font-weight: 300;
	font-size: 15px;
	
	-webkit-box-shadow: 0px 0px 100px rgba(50, 50, 50, 0.8);
	-moz-box-shadow:    0px 0px 100px rgba(50, 50, 50, 0.8);
	box-shadow:         0px 0px 100px rgba(50, 50, 50, 0.8);
}

.loginForm form {
	position: relative;
	margin: 20px 0px 60px 0px;	
}

.loginLogo {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	opacity:0.8;
}

.loginForm h1 {
	font-family: "Helvetica Neue",sans-serif;
	font-weight: 300;
	text-align: center;
}

.loginInputBox {
	border-bottom: 1px solid #dddddd;
}

.loginForm input {
	font-family: "Helvetica Neue",sans-serif;
	border: medium none;
	font-size: 19px;
	padding: 10px 0px 0px 10px;
	font-weight: 300;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 100%;
}

.loginForm input:focus,
.loginForm input:focus:invalid:focus {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.loginForm .btn {
	font-family: "Helvetica Neue",sans-serif;
	position: absolute;
	top: 46px;
	left: 310px;
}

/* Forms */
.hiddenInput {
	display: none !important;
}

/* freezer */
.freezerTable {
	width: 80%;
	border-spacing: 2px;
	border-collapse: separate;
}

.freezerTable th,
.freezerTable td {
	height:40px;
	width: 10%;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.freezerTable td {
	border-style:solid;
	border-width:1px;
	border-color: #CCCCCC;
}

.freezerSelectedRack {
	background-color: #CCCCCC;
}

.freezerBox {
	float : left;
	background-color : #CCCCCC;
	margin : 4px;
	padding : 2px 4px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.freezerSelectedRack .freezerBox {
	background-color : #FFFFFF;
}

.freezerSelectedCorner {
	background-color : #EEEEEE;
}

/* Glow Effect */
.glow {
    animation:glow 1200ms linear 200ms 2 alternate;
    -moz-animation:glow 1200ms linear 200ms 2 alternate;
    -webkit-animation:glow 1200ms linear 200ms 2 alternate;
}

@-moz-keyframes glow { /* Firefox */
    0% {
        box-shadow:0 0 1px 1px rgba(255,255,255,0.9);
    }
    20%, 100% {
        box-shadow:0 0 1px 1px rgba(255,255,255,0.9), 0 0 3px 8px #4F8F27, 0 0 2px 12px #FFF;
    }
}

@-webkit-keyframes glow { /* Safari and Chrome */
    0% {
        box-shadow:0 0 1px 1px #FFF;
    }
    20%, 100% {
        box-shadow:0 0 1px 1px #FFF, 0 0 3px 8px #4F8F27, 0 0 2px 12px #FFF;
    }
}

/* Quick Menu */
.quickMenu {
	height:40px !important;
	margin-top:0 !important;
	
	-moz-box-shadow: 0 0px #000 inset;
	-webkit-box-shadow: 0 0px #000 inset;
	box-shadow: 0 0px #000 inset;
	
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
/* Pin button Fix for Chrome/Safari */
.pinBtn {
	width: 16px;
}

/* Navigation Bar */
.navbar-inner {
	margin-top: 0px !important;
}

/* Tooltip */
.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100);
}
.tooltip-inner {
	max-width:600px;
	background-color: transparent;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: transparent;
}

/* Search */
.navbar-search .search-query {
    padding-left: 30px;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-position: 12px 8px;
	width: 140px;
}

/* Main Menu */
.mainMenuContainer {
	margin-left: 20px;
}

.mainMenuContainer h2 {
	margin: 0px;
	line-height: 2	0px;
}

.mainMenuContainer hr {
	margin: 10px;
}

.mainMenuIcon {
	display: inline-block;
	margin-left: 10px;
	text-align: center;
}

.mainMenuIcon img {
	width:96px;
	height:96px;
}

/* Nav bar */
.navbar-inner {
	margin-top: 10px;
	-webkit-box-shadow: 6px 6px 8px rgba(50, 50, 50, 0.61);
	-moz-box-shadow:    6px 6px 8px rgba(50, 50, 50, 0.61);
	box-shadow:         6px 6px 8px rgba(50, 50, 50, 0.61);
}

/* Main Table */
.tableContainerBorder {
	margin-bottom:10px;
}

.inspectorClicked,
.inspectorClicked:hover,
.inspectorClicked:focus  {
	background-color: #0090E3;
	background-image: none;
}

/* Inspector */

.inspectorsContainer {
	width:100%;
	margin-top: 20px;
	margin-left: 20px;
}

.inspectorsContainer div {
	float:left;
	margin-left: 20px;
}

div.inspector {
	text-decoration: none;
	color: #000;
	display: block;
	width: 400px;
	overflow: hidden;
	margin-top: 10px;
	padding: 1em;
	-moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	/*
	-o-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	*/
	position: relative;
	/*
	-moz-transition:-moz-transform .15s linear;
	-o-transition:-o-transform .15s linear;
	-webkit-transition:-webkit-transform .15s linear;
	*/
	
}

div.inspector:hover,div.inspector:focus{
	/*
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  */
  position:relative;
  z-index:5;
}

.property {
  font-size: 10px;
  font-weight: normal;
}

.properties {
  padding-top:10px;
	width: 100%;	
}

.properties td:nth-child(odd) {
  /* background-color:#DDDDDD; */
  width:25%;
}

.properties td:nth-child(even) {
  /* background-color:#fbfbfb; */
  width:75%;
}

.close {
	float: right;
}

.close:hover {
	opacity: 0.5;
	color: #AAA;
	cursor: pointer;
}

.downloads {
	color: black;
	background-color:#DDDDDD;;
}

table.downloads {
  font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}