body,div,td {
    font-family: verdana, tahoma, helvetica;
    font-size: 12px;
}

/* Login */

.login-welcome-text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    vertical-align: middle;
}

.login-page {
    background-color: white;
}

.login-widget {
    border: 1px solid #B5B8C8;
    padding-bottom: 7px;
    padding-right: 7px;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: gray;
    background-color: white;
}

.invalid {
    text-decoration: line-through;
}

/* Property grid */

.property-grid {
    table-layout: auto;
    border-collapse: collapse;
}

.property-grid td {
    border: 1px solid #ffffff;
    padding: 3px 5px 3px 5px;
    vertical-align: top;
}

.property-grid .header {
    font-weight: bold;
    background-color: #dddddd;
}

/* TopMenu */

.header-user-info {
    font-weight: lighter;
    color: black;
}

.header-title {
    font-weight: lighter;
    font-size: large;
    margin-left: 1em;
    margin-right: 1em;
}

/* MainTabPanel */

.intro-tab {
    color: navy;
    font-size: large;
    text-align: center;
}

.dummy-component {
    text-align: center;
}

/* Overridden GXT stuff */

.x-btn-text {
    color: navy;
    text-transform: capitalize;
}

.x-accordion-hd {
    text-transform: capitalize;
    color: navy;
}