/*
 * Font change
 */

body,
div,
td,
.default-text,
.x-window-tl .x-window-header,
.x-small-editor .x-form-field,
.x-tree3-node-text,
.x-btn button,
.x-progress,
.x-date-days td,
.x-date-left,
.my-tree-item-text span,
.x-date-days td,
.x-info-tl .x-info-header,
.x-info-body,
.my-list,
.x-view-item,
.x-view-item-check td,
.my-tbl,
.my-tbl-col-text,
.my-tbl-data .my-tbl-item-cell-text,
.my-treetbl-item-text span,
.my-treetbl-col-text,
.my-treetbl-data .my-treetbl-cell-text,
.x-grid3-td-numberer div,
.x-box-mc,
.x-panel-header,
.x-panel-tl .x-panel-header,
.x-menu-list-item,
.x-tab-strip span.x-tab-strip-text,
.x-window-dlg .ext-mb-text, .x-window-dlg .x-window-header-text {
	font-family: "Telex-Regular" !important;
	font-size: 13px !important;
}

.default-text {
	font-weight: normal;
	color: black;
}

/*
 * Links
 */
span.gwt-InlineHTML > div > a,
td > div > a,
.link-style,
.gwt-InlineHTML > a,
.x-grid3-cell-inner > a {
    color: #0c73b6 !important;
    cursor: pointer;
    text-decoration: none;
}

/*
 * Others
 */
.inline {
	display: inline;
}

.force-float-left {
	float: left !important;
}

/*****************************
 * Login
 *****************************/
.login-header {
	position: absolute;
	width: 100%;
	top: 10;
	left: 10;
	right: 10;
}

.login-help {
	position: absolute;
	width: 100%;
	bottom: 10;
	left: 0;
	right: 0;
}

.login-welcome-text {
	font-size: 22px;
	color: gray;
	margin-left: -155px;
	vertical-align: middle;
}

.login-page {
	background-color: white;
}

.login-widget {
	border: 1px solid #B5B8C8;
	padding-bottom: 7px;
	padding-right: 7px;
}

.footer {
	width: 100%;
	text-align: center;
	font-size: 11px;
	color: gray;
	background-color: white;
}

.invalid {
	text-decoration: line-through;
}

/* uncomment if we don't want an underline for an invalidated link
.invalid a {
    text-decoration: none;
}
*/

/*****************************
 * Property grid
 *****************************/
.property-grid {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

.property-grid td {
	border-top: 1px solid #ffffff;
	padding: 3px 5px 3px 5px;
	vertical-align: top;
}

.property-grid .header {
	font-weight: bold;
	background-color: #dddddd;
}

td.properties-sub-section {
  background-color: #fff;
  border-top: 1px solid grey;
  font-weight: normal;
}

/*****************************
 * MainTabPanel
 *****************************/
.intro-tab {
	font-size: large;
	text-align: center;
}

.dummy-component {
	text-align: center;
}

.section-heading {
	color: white;
	background-color: #1e4e8f;
	margin-top: 5;
	padding: 3;
}

/*****************************
 * Overridden GXT stuff
 *****************************/
.x-accordion-hd {
	color: #15428B;
	font-weight: bold;
	font-size-adjust: none;
	text-transform: capitalize;
}

/* Remove the empty space if no icon has been specified for the tree. */
.my-tree-icon div {
	cursor: pointer;
	margin-top: 1px;
	height: 0%;
	width: 0%;
}

.x-tree3-node-text {
	display: block !important;
}

/* Show background image for button even if mouse is not over it. */
/* old
.x-toolbar .x-btn-left{
	background:url(../resources/images/default/toolbar/tb-btn-sprite.gif) no-repeat 0 0;
}
.x-toolbar .x-btn-right{
	background:url(../resources/images/default/toolbar/tb-btn-sprite.gif) no-repeat 0 -21px;
  padding-right:2px;	
}
.x-toolbar .x-btn-center{
	background:url(../resources/images/default/toolbar/tb-btn-sprite.gif) repeat-x 0 -42px;
}
*/
.x-toolbar .x-btn-tl {
	background-position: -6px 0;
}

.x-toolbar .x-btn-tr {
	background-position: -9px 0;
}

.x-toolbar .x-btn-tc {
	background-position: 0 -9px;
}

.x-toolbar .x-btn-ml {
	background-position: -6px -24px;
}

.x-toolbar .x-btn-mr {
	background-position: -9px -24px;
}

.x-toolbar .x-btn-mc {
	background-position: 0 -2168px;
}

.x-toolbar .x-btn-bl {
	background-position: -6px -3px;
}

.x-toolbar .x-btn-br {
	background-position: -9px -3px;
}

.x-toolbar .x-btn-bc {
	background-position: 0 -18px;
}

/* Don't show background image for button in top menu unless there is a mouse over it. 
/* doesn't work
.x-toolbar .x-btn-top-menu .x-btn-small {
	background-image: none;
}
*/
.x-toolbar .x-btn-top-menu .x-btn-tl {
	background-position: 500px 500px;
}

.x-toolbar .x-btn-top-menu .x-btn-tr {
	background-position: 500px 500px;
}

.x-toolbar .x-btn-top-menu .x-btn-tc {
	background-position: 500px 500px;
}

.x-toolbar .x-btn-top-menu .x-btn-ml {
	background-position: 500px 500px;
}

.x-toolbar .x-btn-top-menu .x-btn-mr {
	background-position: 500px 500px;
}

.x-toolbar .x-btn-top-menu .x-btn-mc {
	background-position: 500px 500px;
}

.x-toolbar .x-btn-top-menu .x-btn-bl {
	background-position: 500px 500px;
}

.x-toolbar .x-btn-top-menu .x-btn-br {
	background-position: 500px 500px;
}

.x-toolbar .x-btn-top-menu .x-btn-bc {
	background-position: 500px 500px;
}

/* Toolbar cells padding */
.x-toolbar-cell {
	padding-right: 2px;
}
/* Change toolbar button text color when mouse is over it*/
.x-btn-over .x-btn-text {
	color: black !important;
}

/*****************************
 * Form
 *****************************/
.x-form-trigger-generate {
	background-image: url(../images/generate-trigger.gif) !important;
	cursor: pointer;
}

.x-form-trigger-add {
	background-image: url(../images/trigger-plus.png) !important;
	cursor: pointer;
}

.cisd-visible {
	visibility: visible !important;
}

.cisd-hidden {
	visibility: hidden !important;
}

.hands {
	cursor: hand;
}

.cisd-unofficial {
	color: grey;
	font-style: italic;
}

.textarea-item-counter {
	margin-left: 5px;	
}

.unsaved-changes-info {
  margin-right: 5px;
  text-align: right;
  font-size: 11px;
  font-style: italic;
  color: gray;
}

/*****************************
 * Movie buttons
 *****************************/
.movieButtons .x-btn {
	margin-right: 5px;
}

.movieDelay {
	margin-left: 5px;
	margin-top: 3px;
}

.movieDelay input {
	margin: 0px 3px;
}

/*****************************
 * Deletion force options
 *****************************/
.deletionForceOptions label {
	margin-right: 5px;
}

/************************
 * Confirmtion dialogs
 ************************/
.emptyTrashConfirmationDialog .message,.permanentDeletionConfirmationDialog .message
	{
	margin: 10px;
	margin-bottom: 0px;
}

/********************
 * Link data set
 ********************/
 
.linkDataViewContent {
	margin: 10px;	
}

.linkDataViewInfo {
	font-weight: bold;
	margin-bottom: 5px;	
}

.linkDataViewLabel {
	margin-right: 5px;	
}

/*************************
 * Outdated grid cells
 *************************/

.cisd-grid-outdated-cell {
  background: transparent no-repeat 0 0;
  color: gray;
}

.cisd-grid-outdated-cell {
  background-image: url(../images/outdated.gif);
}

/*************************
 * Custom import
 *************************/
 
.entityWithTemplateField {
	margin-left: 10px;	
}

/*************************
 * Welcome Page
 *************************/

.welcomePageContainer .gwt-HTML {
	overflow: scroll;
}

/**************************
 * GWT Utils
 **************************/
.unselectableItem {
	color:#ccc;
	margin-left:2px;
	margin-right:2px;
	white-space: nowrap;
} 