body,div,td {
    font-family: verdana, tahoma, helvetica;
    font-size: 12px;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    vertical-align: middle;
}

.login-widget {
    border: 1px solid #B5B8C8;
}

.start-page {
    background-color: white;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: gray;
    background-color: white;
}