<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>openBIS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>openBISdata.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36F71E73161C3AE900C87277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F71EA5161C3AEA00C87277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F71EFE161C498300C87277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F71F13161C4AA000C87277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
