/* Inspector */

div.inspector {
	font: 10px "Verdana", sans-serif;
	padding: 10px;
	border: 1px solid gray;
	margin: 10px 2px;
	font-weight: bold;
}

.property {
  font-size: 10px;
  font-weight: normal;
}

.properties {
  padding-top:10px;
	width: 100%;	
}

.properties td:nth-child(odd) {
  background-color:#DDDDDD;
  width:50%;
}

.properties td:nth-child(even) {
  background-color:#fbfbfb;
  width:70%;
}

.close {
	float: right;
}

.close:hover {
	opacity: 0.5;
	color: #AAA;
	cursor: pointer;
}

.downloads {
	color: black;
	background-color:#DDDDDD;;
}

table.downloads {
  font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}