/*
 * Generic Style
 */
body{
  /* background: url("../images/main_bg.gif") repeat scroll 0 0 #FFFFFF; */
}

body, h1, h2 {
  font-family: "Helvetica Neue",sans-serif;
  color: #333333;
  font-weight: 200;
}

h1 {
    margin-bottom: 20px;
}

.propertyName {
    font-family: "Helvetica Neue",sans-serif;
    color: black;
    font-weight: 200;
    font-size: 25px;
}

.propertyValue {
    font-family: "Helvetica Neue",sans-serif;
    color: #333333;
    font-weight: 200;
    font-size: 20px;
}

ul.dynatree-container {
    background-color: transparent !important;
}

ul.dynatree-container a {
    border: none;
}

/*
*Reduce size of busy image
*/
.half {
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
} 

/*
 * Cool login form
 */
.bodyLogin {
    font-family: "Helvetica Neue",sans-serif;
}



.loginForm {
    width: 360px;
    height: 360px;
    padding: 30px;
    display: block;
    
    position: absolute;
    top: 50%;
    margin-top: -280px;/* half of #content height + padding*/
    left: 50%;
    margin-left: -210px;/* half of #content height + padding*/
    
    background-color: white;
    border-radius: 60px 60px 60px 60px;
    font-family: "Helvetica Neue",sans-serif;
    font-weight: 300;
    font-size: 15px;
    
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.8); 
}

.loginForm form {
    position: relative;
    margin: 20px 0px 60px 0px;    
}

.loginLogo {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity:0.8;
}

.loginForm h1 {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: 200;
    text-align: center;
    margin-top: 50px;
}

.loginInputBox {
    border-bottom: 1px solid #dddddd;

}

.loginForm input {
    font-family: "Helvetica Neue",sans-serif;
    border: medium none;
    font-size: 19px;
    padding: 10px 0px 0px 10px;
    font-weight: 300;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;

}

.loginForm input:focus,
.loginForm input:focus:invalid:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.loginForm .btn {
    font-family: "Helvetica Neue",sans-serif;
    position: absolute;
    top: 46px;
    left: 310px;
}

/*
 * Logout button
 */
.logout-btn {
    position: absolute;
    right: 10px;
    top: 10px;

    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.8); 

    border-radius: 10px;
    padding: 3px 5px 3px 5px;
    border: 40;
    
    font-family: "Helvetica Neue",sans-serif;
    background-color: white;
    color: #005580;
    text-decoration: none;
}

.logout-btn:hover
{
    text-decoration: underline;
}

/*
 * Player Widget
 */
.playerWidget {
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.8); 

    border-radius: 10px;
    padding: 3px 5px 3px 5px;
    border: 40;
    
    font-family: "Helvetica Neue",sans-serif;
    background-color: white;
    color: #005580;
    text-decoration: none;
}

.playerWidget .videoList {
    margin: 10px !important;
}

video {
    width: 97% !important;
    height: auto !important;
    margin: 10px !important;
}

/*
 * Tree View
 */
.dynatree-container {
    background-color: none !important;
    border: none !important;
}

/*
 * General Layout
 */

body {
  margin-top : 60px;
  margin-left: 20px;
  margin-bottom: 20px;
}

