<?xml version="1.0" encoding="UTF-8"?> 
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>CLC Science Server</description>
    <display-name>CLC Science Server</display-name>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.clcbio.server.servlet.CLCServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.clcbio.server.servlet.CLCServerletHttpSessionListener</listener-class>
    </listener>
    <servlet>
        <description>JAX-WS endpoint - fromjava</description>
        <display-name>clcsoapservlet</display-name>
        <servlet-name>clcsoapservlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet> 
        <servlet-name>CLCServices</servlet-name> 
        <servlet-class>
            com.clcbio.server.servlet.ajax.CLCServicesImpl
        </servlet-class> 
    </servlet> 
    <servlet> 
        <servlet-name>CLCAdminServices</servlet-name> 
        <servlet-class>
            com.clcbio.server.servlet.ajax.CLCAdminServicesImpl
        </servlet-class> 
    </servlet> 
    <servlet> 
        <servlet-name>CLCFileUpload</servlet-name> 
        <servlet-class>
            com.clcbio.server.servlet.FileUploadServlet
        </servlet-class> 
    </servlet> 
    <servlet> 
        <servlet-name>CLCFileDownload</servlet-name> 
        <servlet-class>
            com.clcbio.server.servlet.FileDownloadServlet
        </servlet-class> 
    </servlet> 
    <servlet> 
        <servlet-name>CLCServerProcess</servlet-name> 
        <servlet-class>
            com.clcbio.server.servlet.ajax.CLCServerProcess
        </servlet-class> 
    </servlet> 
    <servlet-mapping>
        <servlet-name>clcsoapservlet</servlet-name>
        <url-pattern>/CLCSOAPServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>CLCServices</servlet-name> 
        <url-pattern>/CLCServices</url-pattern> 
    </servlet-mapping> 
    
    <servlet-mapping> 
        <servlet-name>CLCAdminServices</servlet-name> 
        <url-pattern>/CLCAdminServices</url-pattern> 
    </servlet-mapping>
    
    <servlet-mapping> 
        <servlet-name>CLCFileUpload</servlet-name> 
        <url-pattern>/CLCFileUpload</url-pattern> 
    </servlet-mapping>
    
    <servlet-mapping> 
        <servlet-name>CLCFileDownload</servlet-name> 
        <url-pattern>/CLCFileDownload</url-pattern> 
    </servlet-mapping> 
    <servlet-mapping> 
        <servlet-name>CLCServerProcess</servlet-name> 
        <url-pattern>/CLCServerProcess</url-pattern> 
    </servlet-mapping> 
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
     <filter>

    <!-- GZIP //-->
   <filter-name>CompressingFilter</filter-name>
     <filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
   </filter>

   <filter-mapping>
     <filter-name>CompressingFilter</filter-name>
     <url-pattern>/*</url-pattern>
   </filter-mapping>

    <!-- Index Server //-->
     <servlet>
        <description>JAX-WS endpoint - fromjava</description>
        <display-name>indexserverservlet</display-name>
        <servlet-name>indexserverservlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexserverservlet</servlet-name>
        <url-pattern>/IndexServer</url-pattern>
    </servlet-mapping>
</web-app>   
