.node circle {
	 fill: #fff;
	 stroke: #444444; 
	 stroke-width: 1.5px;
}

.node {
	font: 12px "Verdana", sans-serif;
	z-index: 1;
	cursor: pointer;
	position: relative; 
	left: -15px;
}

.node:hover{
  font-weight: bold;  
}

.link {
	 fill: none;
	 stroke: #ccc;
	 stroke-width: 1.5px;
	 z-index: -1;
}

.SAMPLE.inspected {
  font-weight: bold
}

.SAMPLE.sequenced circle {
	stroke: DarkGreen;
}

.SAMPLE.sequenced:hover circle {
  fill: DarkGreen;
}

.SAMPLE.notsequenced circle {
	stroke: DarkRed;
}

.SAMPLE.notsequenced:hover circle {
  fill: DarkRed;
}

/* Inspector */

div.inspector {
	font: 12px "Verdana", sans-serif;
	padding: 10px;
	border: 1px solid gray;
	margin: 10px 2px;
	font-weight: bold;
}

.property {
  font-size: 10px;
}

.properties {
	width: 100%;	
}

.properties tr:nth-child(odd) {
  background-color:#eee;
}

.properties tr:nth-child(even) {
  background-color:#fff;
}

.close {
	float: right;
}

.close:hover {
	opacity: 0.5;
	color: #AAA;
	cursor: pointer;
}

.downloads {
	color: steelblue;
	background-color: #E3E3E3;
}

table.downloads {
  font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}

/*
.downloads caption {
	text-align: left;
}
*/

.downloads tr {
	padding: 0px;
}

.downloads td {
	border: 2px solid #FFFFFF;	
	padding: 2px;
}

.downloads td:hover {
	cursor: pointer;
	font-weight: bold;
}

input:focus{
background-color: white;
}

.resetpassword:link {color:#BDBDBD; text-decoration:none}
.resetpassword:visited {color:#BDBDBD; text-decoration:none}
.resetpassword:active {color:#BDBDBD; text-decoration:none}
.resetpassword:hover {color:#000000; text-decoration:none}

/* Legend */

.legend .sequenced circle {
   stroke-width: 1.5px;
   fill: white;
   stroke: DarkGreen;
}

.legend .notsequenced circle {
   stroke-width: 1.5px;
   fill: white;
   stroke: DarkRed;
}

