.node circle {
	 fill: #fff;
	 stroke: steelblue;
	 stroke-width: 1.5px;
}

.node {
	font: 12px "Verdana", sans-serif;
	z-index: 1;
	cursor: pointer;
}

.link {
	 fill: none;
	 stroke: #ccc;
	 stroke-width: 1.5px;
	 z-index: -1;
}

g.withchildren:hover {
	opacity: 0.5;
	font-weight: bold;
}

.leaf text { 
	fill: #999;
}

.sequenced text{
	fill: black;
}

g.leaf:hover {
	font-weight: bold;
}

.inspected {
	font-weight: bold
}

/* Inspector */

div.inspector {
	font: 12px "Verdana", sans-serif;
	padding: 10px;
	border: 1px solid gray;
	margin: 10px 2px;
	font-weight: bold;
}

.property {
  font-size: 10px;
}

.close {
	float: right;
}

.close:hover {
	opacity: 0.5;
	color: #AAA;
	cursor: pointer;
}

.downloads {
	color: steelblue;
	background-color: #E3E3E3;
}

table.downloads {
  font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}

/*
.downloads caption {
	text-align: left;
}
*/

.downloads tr {
	padding: 0px;
}

.downloads td {
	border: 2px solid #FFFFFF;	
	padding: 2px;
}

.downloads td:hover {
	cursor: pointer;
	font-weight: bold;
}