!build/
/targets
/temp-testng-customsuite.xml
/test-output
/.dynamic_property_evaluator_queue
/.shredder
/.updater
/tmp
/clean-up-tasks
/dss-tmp
/log-registrations
/core-plugins
/recovery-state
.DS_Store
/.activity
sourceTest/java/ch/systemsx/cisd/etlserver/plugins/LastSeenDataSetFileContentTestResources/writeLastSeenFile
.classpath
.project
/build/
