button {
  font: 14px "Trebuchet MS";
  background-color: 	#0000FF ;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.25), rgba(255,255,255,.11));
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,.25)),color-stop(1, rgba(255,255,255,.11)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,.11));
  color: #fff;
  text-rendering: optimizeLegibility;
  text-shadow: 0 -1px 1px #222;
  padding: 3px 5px 3px 5px;
  border: 40;
  border-radius: 5px;
  border-bottom: 1px solid #222;
  margin: 0;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
}

button.first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button.last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button.active {
  background-color: rgb(65,102,133);
}

button:hover {
  background-color: steelblue;
}

input {
  font: 14px "Trebuchet MS";
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.25), rgba(255,255,255,.11));
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,.25)),color-stop(1, rgba(255,255,255,.11)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.1));
  color: #000;
  text-rendering: optimizeLegibility;
  padding: 3px 5px 3px 5px;
  border: 0;
  border-radius: 0;
  margin: 0;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
}


#chemical_browser a:link
{
display:block;
font-weight:bold;
color:#000000;
background-color:#A8A8A8;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#chemical_browser a:visited
{
color:#000000;
background-color:#A8A8A8;
}
#chemical_browser a:hover
{
background-color:#E0E0E0;
color:#FFFFFF;
}

#oligo_browser a:link
{
display:block;
font-weight:bold;
color:#000000;
background-color:#0099CC;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#oligo_browser a:visited
{
color:#000000;
background-color:#0099CC;
}
#oligo_browser a:hover
{
background-color:#CCFFFF;
color:#FFFFFF;
}


#yeast_browser a:link
{
display:block;
font-weight:bold;
color:#000000;
background-color:	#CCCC99;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#yeast_browser a:visited
{
color:#000000;
background-color:	#CCCC99;
}
#yeast_browser a:hover
{
background-color:	#FFFFCC;
color:#FFFFFF;
}

#plasmid_browser a:link
{
display:block;
font-weight:bold;
color:#000000;
background-color:#ffcb99;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#plasmid_browser a:visited
{
color:#000000;
background-color:#ffcb99;
}
#plasmid_browser a:hover
{
background-color:#ffe5cc;
color:#FFFFFF;
}


#antibody_browser a:link
{
display:block;
font-weight:bold;
color:#000000;
background-color:#A8A8A8;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#antibody_browser a:visited
{
color:#000000;
background-color:#A8A8A8;
}
#antibody_browser a:hover
{
background-color:#E0E0E0;
color:#FFFFFF;
}

#protocol_browser a:link
{
display:block;
font-weight:bold;
color:#000000;
background-color:#ABBF99;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#protocol_browser a:visited
{
color:#000000;
background-color:#ABBF99;
}
#protocol_browser a:hover
{
background-color:#E5FFCC;
color:#FFFFFF;
}

#media_browser a:link
{
display:block;
font-weight:bold;
color:#000000;
background-color:#A8A8A8;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#media_browser a:visited
{
color:#000000;
background-color:#A8A8A8;
}
#media_browser a:hover
{
background-color:#E0E0E0;
color:#FFFFFF;
}

#pcr_browser a:link
{
display:block;
font-weight:bold;
color:#000000;
background-color:#ABBF99;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#pcr_browser a:visited
{
color:#000000;
background-color:#ABBF99;
}
#pcr_browser a:hover
{
background-color:#E5FFCC;
color:#FFFFFF;
}


#buffer_browser a:link
{
display:block;
font-weight:bold;
color:#000000;
background-color:#A8A8A8;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#buffer_browser a:visited
{
color:#000000;
background-color:#A8A8A8;
}
#buffer_browser a:hover
{
background-color:#E0E0E0;
color:#FFFFFF;
}


#search_browser a:link
{
display:block;
font-weight:bold;
color:#000000;
background-color:#ABBF99;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#search_browser a:visited
{
color:#000000;
background-color:#ABBF99;
}
#search_browser a:hover
{
background-color:#E5FFCC;
color:#FFFFFF;
}


#title{
  font: 35px "Trebuchet MS";
  color: #0000cc;
  font-weight:bold;
  text-align:center;
}

#filter-button a:link
{
display:block;
font-weight:bold;
color:#FFFFFF;
background-color:#0000FF;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
border: 40;
border-radius: 5px;
border-bottom: 1px solid #222;
margin: 0;
}
#filter-button a:hover
{
background-color:steelblue;
color:#FFFFFF;
}
