body { font: 14px "Trebuchet MS", sans-serif; }

h1 { font: 16px; }
h3 { font: 12px; }

div#vis { 
	padding-top: 10px;
	font: 12px "Verdana", sans-serif; }	
}


.chemical-table-data-cell {
	overflow: hidden;
}

#chemical-table tr:nth-child(odd) td{
  background-color:#E0E0E0;
}


#chemical-table tr:nth-child(even) td{
  background-color:#F7F7F7;
}


#chemical-table td{
padding:5px;
}

#chemical-table tr.chemical-table-header {
  font-size:18px;
  font-weight: bold;
  color:#fff;
  background-color:#A8A8A8;	
}


