<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springsource.ide.eclipse.gradle.launch">
<stringAttribute key="org.springsource.ide.eclipse.gradle.launch.PROJECT" value="rtd_phosphonetx"/>
<listAttribute key="org.springsource.ide.eclipse.gradle.launch.TASKLIST">
<listEntry value=":rtd_phosphonetx:prepareGWT"/>
</listAttribute>
</launchConfiguration>
